.container
  %ul
    - @task.errors.full_messages.each do |message|
      %li= message
    %h2 Edit Card
  = form_with(model: @task, url: board_task_path(board_id: @board.id, id: @task.id), method:'put', local:true) do |f|
    %div
      = f.label :title, 'Name'
    %div
      = f.text_field :title, class: 'text'
    %div
      = f.label :content, 'Description'
    %div
      = f.text_area :content
    = f.submit 'Submit', class: 'btn-primary'
