.container
  %ul
    - @task.errors.full_messages.each do |message|
      %li= message
    %h2 New Card
  = form_with(model: @task, url: board_tasks_path, method: 'post', local:true) do |f|
    %div
      = f.label :eyecatch, 'Choose Image', class: 'image_input_btn'
    %div
      = f.file_field :eyecatch, class: 'image_form'
    %div
      = f.label :title, 'Title'
    %div
      = f.text_field :title, class: 'text'
    %div
      = f.label :content, 'Description'
    %div
      = f.text_area :content
    %div
      = f.label :deadline, 'Deadline'
    %div
      = f.date_field :deadline, class: 'text'
    = f.submit 'Submit', class: 'btn-primary'