= link_to board_path(board) do        
    .card
        .card_tab_title
            = board.title
        .card_tab_dropdown
            = image_tag 'actions.svg', class: 'dropbtn'
        .card_content
            .card_detail
                = board.content
            = image_tag 'avatar.jpg'
            %div
                %p hirohiro
                %p 2020/12/11
